.simulation-container {
    display: flex;
    flex-direction: column;
}

.top-progress-container{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.top-progress-section {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.top-progress-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.progress-value {
    display: flex;
}

.graph-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.graph {
    flex: 1;
    background-color: rgba(162, 109, 109, 0.2);
    min-height: 25rem;
}

.progress-bars {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.progress-bar-container {
    width: 100%;
    background-color: #DDDDDDFF;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 2.5rem;
}

.progress-bar {
    height: 100%;
    background-color: #455271;
    text-align: center;
    line-height: 2.4rem;
    color: #FFFFFFFF;
    transition: 0.6s ease;
}

h3 {
    font-weight: 200;
}

@media (max-width: 420px) {
    .graph-container {
        flex-direction: column;
    }
}