/* general style */
body {
    transition: padding 0.3s; /* transition for a smoother effect */
}

/* internal section */
.content {
    padding-left: 5%; /* internal space */
    padding-right: 5%;
    transition: padding-left 0.5s ease; /* transition for padding */
}

.select-delete-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #2b3e50;
    justify-content: space-between;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c0392b;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.session-card {
    background-color: #ffffff;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    transition: box-shadow 0.3s ease;
}

.session-card h3 {
    color: #2b3e50;
    font-size: 1.5rem;
    margin: 0;
}

.session-card p {
    margin: 0.625rem 0;
    color: #2b3e50;
}

.session-card.animate-slide-in-left:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.card-header {
    display: flex;
    border-bottom: 0.125rem solid #455271;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.duration, .asset, .outcome {
    text-align: center;
}

/* responsiveness on mobile devices */
@media (max-width: 768px) {
    .content {
        padding-left: 2%; /* internal space */
        padding-right: 2%;
    }

    /* other styles */
    .session-card h3 {
        font-size: 1.25rem;
    }

    .session-card p {
        font-size: 0.875rem;
        line-height: 1.4;
    }

    .session-card.animate-slide-in-left:hover {
        transform: none;
    }

    .card-content {
        display: grid;
    }

    .duration, .asset, .outcome {
        text-align: left;
        margin-bottom: -0.75rem;
    }
}

@media (max-width: 470px) {
    .session-card h3 {
        font-size: 1rem;
    }

    .session-card p {
        font-size: 0.75rem;
        line-height: 1.3;
    }
}