<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation</title>
    <link rel="stylesheet" href="/SimulationPage/css/simulation.css">
    <link rel="stylesheet" href="/AssetsPage/css/styles1.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>

<th:block th:replace="~{AssetsPage/header :: header}"></th:block>
<main>

    <div class="simulation-container">

        <div class="graph-container">
            <div class="graph" id="consumptionGraph"></div>
            <div class="graph" id="productionGraph"></div>
        </div>

        <div class="progress-container">

            <div class="progress-bars">
                <div>
                    <div><h3>Washing Machine</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="washingMachineBar">0%</div>
                    </div>
                </div>

                <div>
                    <div><h3>Refrigerator</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="refrigeratorBar">0%</div>
                    </div>
                </div>

                <div>
                    <div><h3>Air Conditioner</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="airConditionerBar">0%</div>
                    </div>
                </div>
            </div>

            <div class="progress-bars">
                <div>
                    <div><h3>Solar Panel</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="solarPanelBar">0%</div>
                    </div>
                </div>

                <div>
                    <div><h3>Wind Turbine</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="windTurbineBar">0%</div>
                    </div>
                </div>

                <div>
                    <div><h3>Accumulator</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="accumulatorBar">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="/SimulationPage/js/simulation.js"></script>
</html>
