/* general style */
body {
    font-family: Montserrat, sans-serif;
    color: #2b3e50;
    background-color: #efeffd; /* original background color */
    margin: 0;
    padding-top: 60px; /* superior margin to avoid going on header */
    transition: padding 0.3s; /* transition for a smoother effect */
}

/* fixed header */
.header {
    background: linear-gradient(to bottom, #4a5b7e, #5aabf5);
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    top: 0; /* moves the header on top */
    z-index: 1000; /* header is pinned */
}

.header h1 {
    color: #f4f4f9;
    margin: 0;
    padding-left: 10px;
}

/* internal section */
.content {
    background-color: #efeffd;
    padding-left: 12%; /* internal space */
    padding-right: 12%;
    transition: padding-left 0.5s ease; /* transition for padding */
}


/* other styles */
.content h1 {
    color : #2b3e50;
    font-size: 36px;
    line-height: 1.8;
    border-bottom: 2px solid #5aabf5;
    padding-bottom: 10px;
}

h2 {
    color: #2b3e50;
    font-size: 32px;
}

h3 {
    color: #2b3e50;
    font-size: 26px;
    line-height: 1.8;
    border-bottom: 2px solid #5aabf5;
    padding-bottom: 10px;
}

h4 {
    color: #2b3e50;
    font-size: 22px;
}

p {
    color: #000000;
    line-height: 1.6;
    font-size: 18px;
}

.header h1 {
    color: #f4f4f9;
    margin: 0;
    padding-left: 10px;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
}


/* Controls the size of the images on different screen sizes */
.img-responsive {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.img-scaled {
    width: 60%;
}

.img-full {
    width: 100%;
}

/* Popup Style */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.popup.show {
    display: flex;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: scale(0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup.show .popup-content {
    opacity: 1;
    transform: scale(1);
}

.popup-content h3 {
    font-size: 22px;
    line-height: 1.4;

}

/* transitions */
.animate-fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.animate-slide-up {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 1s ease-in forwards;
}

.animate-slide-in-left {
    opacity: 0;
    transform: translateX(-30px); /* starting left to right */
    transition: transform 0.5s, opacity 0.5s;
}

.animate-slide-in-left.show {
    opacity: 1;
    transform: translateX(0); /* end transition */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* responsiveness on mobile devices */
@media (max-width: 768px) {
    .content {
        padding-left: 2%; /* internal space */
        padding-right: 2%;
    }

    /* other styles */
    .content h1 {
        font-size: 25px;
        line-height: 1.6;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
        line-height: 1.6;
    }

    h4 {
        font-size: 16px;
    }

    p {
        line-height: 1.5;
        font-size: 14px;
    }

    .logo {
        margin-right: 0;
        margin-left: 5px;
    }

    .header h1 {
        font-size: 20px;
    }

    .img-responsive {
        border-radius: 6px;
    }

    .img-scaled {
        width: 80%;
    }

    .popup-content {
        width: 50%;
    }

    .popup-content h3 {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media (max-width: 470px) {
    .img-scaled {
        width: 100%;
    }
}

.image-placeholder {
    height: 150px;
    background-color: #e0e0e0;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 8px;
    font-style: italic;
}
