.content {

    h1, h2, h3, h4{
        color: #455271;
        animation: animate-slide-in-left 0.5s ease-out forwards;
    }

    p {
        color: #000000;
        line-height: 1.6;
        animation: animate-slide-in-left 0.5s ease-out forwards;
    }

    img {
        animation: animate-slide-in-left 0.5s ease-out forwards;
    }
}

.image-placeholder {
    background-color: #E0E0E0E6;
    color: #888888FF;
    display: flex;
    font-style: italic;
    animation: animate-slide-in-left 0.5s ease-out forwards;
}

@keyframes animate-slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-1.8rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}