.content {

    h1, h2, h3, h4{
        color: #455271;
        animation: animate-slide-in-left 0.5s ease-out forwards;
        padding: 0.5rem 0;
    }

    p {
        color: #000000;
        line-height: 1.6;
        animation: animate-slide-in-left 0.5s ease-out forwards;
    }

    img {
        animation: animate-slide-in-left 0.5s ease-out forwards;
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 0.5rem;
    }

    hr {
        border-color: #64749A;
    }
}

.image-placeholder {
    background-color: #E0E0E0E6;
    color: #888888FF;
    display: flex;
    font-style: italic;
    animation: animate-slide-in-left 0.5s ease-out forwards;
}
