* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;      /* Only for assets page */
}

main{
    flex: 1;
    padding: 1.1rem;
}

@media (max-width: 360px) {
    body {
        width: min-content;
    }
}

.topology-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 0.3rem;
}

.node {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 0.1rem solid #1f1f1f;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    cursor: move;
}
