header {
    background: #393E46;
}

.top-header{
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #0B1215FF;
    }
}

.bottom-header {
    width: -moz-available;
    width: -webkit-fill-available;
    background: #929AAB;
    display: flex;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0.5rem;
        font-size: 1rem;
        text-decoration: none;
        color: #0B1215FF;
        border-bottom-style: solid;
        border-bottom-color: transparent;
    }

    a:hover {
        background-color: #656c78;
        border-bottom-style: solid;
        border-bottom-color: #393e46;
    }
}

.logo-image {
    border-radius: .5rem;
    height: auto;
    max-width: 2rem;
}

.project-name {
    font-size: 1.2rem;
}

.material-icons {
    color: #0B1215FF;
}

