header {
    background: #393E46;
}

a {
    text-decoration: none;
    text-align: center;
    color: #0B1215FF;
    font-size: 1.2rem;
}

.top-header {
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.bottom-header {
    width: -moz-available;
    width: -webkit-fill-available;
    background: #929AAB;
    display: flex;

    a {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding: 0.5rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
    }

    a:hover {
        background-color: #656c78;
        border-bottom-style: solid;
        border-bottom-color: #393e46;
    }
}

.logo-image {
    border-radius: 0.5rem;
    height: auto;
    max-width: 2rem;
}

.material-icons {
    color: #0B1215FF;
}

@media (max-width: 420px) {
    a {
        font-size: 1rem;
    }
}
