<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${@environment.getProperty('spring.application.name')}">Project Name</title>
    <link rel="stylesheet" href="AssetsPage/css/assets.css">
    <link rel="stylesheet" href="AssetsPage/css/footer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.6/js/jsplumb.min.js"></script>

</head>
<body>

<th:block th:replace="~{Components/header :: header}"></th:block>

<main>
    <div class="topology-container">
        <div id="canvas"></div>
    </div>
</main>

<footer class="footer-buttons">
    <button id="add">Add</button>
    <button>Delete</button>
    <button id="load">Load</button>
    <textarea placeholder="unnamed scenario.png" id="scenario_name" required></textarea>
    <button id="save">Save</button>
</footer>

</body>

<script src="AssetsPage/js/assets.js"></script>
</html>