<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${@environment.getProperty('spring.application.name')}">Project Name</title>
    <link rel="stylesheet" href="AssetsPage/css/assets.css">
    <link rel="stylesheet" href="AssetsPage/css/footer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.6/js/jsplumb.min.js"></script>

</head>
<body>

<th:block th:replace="~{Components/header :: header}"></th:block>

<main>
    <div class="topology-container">
        <div id="canvas"></div>
    </div>
</main>

<div id="popup-overlay" class="popup-overlay"></div>
<div id="popup" class="popup">
    <div class="popup-header">
        <h3 id="popup-title">Popup Title</h3>
    </div>

    <!-- Dynamic content of the popup -->
    <div class="popup-body" id="popup-content"></div>

    <div class="popup-footer">
        <button id="confirm-btn">Confirm</button>
        <button id="cancel-btn">Cancel</button>
    </div>
</div>

<footer>
    <button id="add">Add</button>
    <button id="delete">Delete</button>
    <button id="load">Load</button>
    <button id="save">Save</button>
</footer>

</body>

<script src="AssetsPage/js/assets.js"></script>
<script src="AssetsPage/js/pop_up.js"></script>
</html>