<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${@environment.getProperty('spring.application.name')}"></title>
    <link rel="stylesheet" href="HomePage/css/home.css">
</head>
<body>

<th:block th:replace="~{Components/header :: header}"></th:block>

<main>

    <div class="content">

        <!-- welcome section -->
        <h2 class="animate-slide-in-left">Benvenuti nel nostro portale di simulazione avanzata!</h2>
        <p class="animate-slide-in-left">
            Siamo lieti di presentarvi una piattaforma all'avanguardia che rivoluziona il modo di simulare,
            monitorare e ottimizzare sistemi complessi. Il nostro software offre un ambiente virtuale
            dettagliato e completamente configurabile, pensato per integrare asset produttori e consumatori di energia,
            creando una rappresentazione realistica e dinamica di scenari reali.

            Grazie all'uso di tecnologia open source, la nostra piattaforma è accessibile a tutti senza costi aggiuntivi,
            consentendo a utenti di ogni livello, dai professionisti agli appassionati, di sperimentare, progettare e
            migliorare sistemi avanzati come Smart Grid, automazione industriale, e dispositivi per Smart Home.
        </p>
        <img src="HomePage/img/Energie-Rinnovabili.jpg" alt="Energie Rinnovabili" class="animate-slide-in-left img-responsive img-full">


        <!-- features section -->
        <h3 class="animate-slide-in-left">Funzionalità Principali</h3>
        <h4 class="animate-slide-in-left">Simulazione Realistica e Intuitiva</h4>
        <p class="animate-slide-in-left">
            Il cuore della nostra piattaforma è una funzione di simulazione avanzata che consente di configurare e
            avviare scenari complessi con pochi clic. Ogni modifica può essere applicata, monitorata e analizzata
            in tempo reale, permettendo agli utenti di interrompere e intervenire sulle simulazioni in corso.

            Grazie a un’interfaccia user-friendly, è possibile creare una topologia personalizzata che integra asset
            produttivi come pannelli solari o generatori e asset consumatori come elettrodomestici e macchinari
            industriali. Questo approccio garantisce una rappresentazione accurata delle dinamiche energetiche, offrendo
            una visione chiara delle interazioni tra i dispositivi.
        </p>
        <img src="HomePage/img/Fonti-Rinnovabili.jpg" alt="Fonti Rinnovabili" class="animate-slide-in-left img-responsive img-scaled">


        <h4 class="animate-slide-in-left">Visualizzazione dei Dati e Esportazione</h4>
        <p class="animate-slide-in-left">
            I dati generati durante le simulazioni sono immediatamente disponibili sotto forma di grafici interattivi
            e tabelle aggiornate in tempo reale, rendendo l'analisi rapida ed efficace. È possibile esportare questi
            dati per ulteriori studi o presentazioni, oltre ad accedere a report dettagliati delle simulazioni
            precedenti, offrendo una visione storica e comparativa delle prestazioni dei sistemi.
        </p>
        <img src="HomePage/img/Immagine-Grafico.png" alt="Immagine Grafico" class="animate-slide-in-left img-responsive img-scaled">


        <!-- scope of the product -->
        <h3 class="animate-slide-in-left">Ambito del Prodotto</h3>
        <p class="animate-slide-in-left">
            Il nostro software è stato progettato per addattarsi ad una vasta gamma di ambiti, rendendolo uno strumento
            versatile per numerosi settori:
        </p>

        <h4 class="animate-slide-in-left">Settori Energetici e Smart Grid</h4>
        <p class="animate-slide-in-left">
            Simula l'integrazione di fonti rinnovabili come pannelli solari e turbine eoliche all'interno di una rete
            energetica intelligente. Questo consente agli utenti di ottimizzare la distribuzione e il consumo di energia
            tra dispositivi come riscaldatori, raffreddatori e sistemi di accumulo, migliorando l'efficienza e la
            sostenibilità complessiva.
        </p>
        <img src="HomePage/img/Impianto-Fotovoltaico.png" alt="Impianto fotovoltaico" class="animate-slide-in-left img-responsive img-full">


        <h4 class="animate-slide-in-left">Automazione Industriale</h4>
        <p class="animate-slide-in-left">
            Nel contesto industriale, la piattaforma permette di simulare le interazioni tra macchinari e sistemi
            produttivi, consentendo di individuare inefficienze, ottimizzare i processi, e ridurre i tempi di fermo
            macchina. Grazie alla possibilità di creare scenari personalizzati, è possibile progettare topologie che
            rispondono a specifiche esigenze produttive.
        </p>
        <img src="HomePage/img/Immagine-Fabbrica.jpg" alt="Immagine Fabbrica" class="animate-slide-in-left img-responsive img-scaled">


        <h4 class="animate-slide-in-left">Smart Home e Domotica</h4>
        <p class="animate-slide-in-left">
            Grazie a funzioni dedicate, gli utenti possono simulare il comportamento di dispositivi domestici
            intelligenti come sistemi di illuminazione automatizzata, termostati connessi, e sensori ambientali.
            Questo consente di esplorare scenari che migliorano il comfort abitativo, riducono i consumi e aumentano la
            sostenibilità delle abitazioni.
        </p>
        <img src="HomePage/img/Smart-Home.jpg" alt="Smart Home" class="animate-slide-in-left img-responsive img-scaled" id="smart-home-img">

        <div id="popup" class="popup hidden">
            <div id="popup-content" class="popup-content">
                <h3 id="popup-title">Dettagli</h3>
                <p id="popup-description">Informazioni su cosa rappresenta l'icona</p>
            </div>
        </div>


        <h4 class="animate-slide-in-left">Education e Training</h4>
        <p class="animate-slide-in-left">
            Il nostro software rappresenta uno strumento didattico avanzato e user-friendly
            per studenti e professionisti, aiutandoli a comprendere i principi dell’Internet of Things, delle topologie
            di rete, e dell’ottimizzazione energetica.
        </p>
        <img src="HomePage/img/Immagine-Education.jpg" alt="Education" class="animate-slide-in-left img-responsive img-scaled">


        <p class="animate-slide-in-left">
            Esplora il nostro portale, scopri le potenzialità della nostra piattaforma, e inizia oggi stesso a
            progettare il tuo ecosistema intelligente!
        </p>

    </div>
</main>

</body>

<script src="HomePage/js/script.js"></script>

</html>
