<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation</title>
    <link rel="stylesheet" href="/SimulationPage/css/simulation.css">
    <link rel="stylesheet" href="AssetsPage/css/assets.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<th:block th:replace="~{Components/header.html :: header}"></th:block>

<div id="popup-overlay" class="popup-overlay"></div>
<div id="popup" class="popup">
    <div class="popup-header">
        <h3 id="popup-title">Popup Title</h3>
    </div>

    <!-- Dynamic content of the popup -->
    <div class="popup-body" id="popup-content"></div>

    <div class="popup-footer">
        <button id="confirm-btn">Confirm</button>
        <button id="cancel-btn">Cancel</button>
    </div>
</div>

<main>
    <div class="start-button"><button id="start-button">Start</button></div>
    <br>
    <hr>
    <br>
    <div class="top-progress-container">
        <div class="top-progress-section">
            <div><h3>Satisfaction</h3></div>
            <div class="top-progress-info-container">
                <div class="progress-bar-container">
                    <div class="progress-bar" id="satisfactionBar">0 W</div>
                </div>
                <div class="progress-value">
                    <div id="current-satisfaction">0</div>&nbsp;W /&nbsp;<div id="max-satisfaction">0</div>&nbsp;W
                </div>
            </div>
        </div>

        <div class="top-progress-section">
            <div><h3>Production</h3></div>
            <div class="top-progress-info-container">
                <div class="progress-bar-container">
                    <div class="progress-bar" id="productionBar">0 W</div>
                </div>
                <div class="progress-value">
                    <div id="current-production">0</div>&nbsp;W /&nbsp;<div id="max-production">0</div>&nbsp;W
                </div>
            </div>
        </div>

        <div class="top-progress-section">
            <div><h3>Accumulator Charge</h3></div>
            <div class="top-progress-info-container">
                <div class="progress-bar-container">
                    <div class="progress-bar" id="accumulatorChargeBar">0 W</div>
                </div>
                <div class="progress-value">
                    <div id="current-charge">0</div>&nbsp;W /&nbsp;<div id="max-charge">0</div> &nbsp;W
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="simulation-container">
        <div class="graph-container">
            <div class="graph" id="consumptionGraph"></div>
            <div class="graph" id="productionGraph"></div>
        </div>

        <br>
        <br>
        <hr>
        <br>

        <div class="progress-container">
            <div class="progress-bars consumption-progress-bars" id="consumers"></div>

            <div class="progress-bars production-progress-bars" id="producers"> </div>
        </div>
    </div>
</main>
</body>
<script type="module" src="/SimulationPage/js/simulation.js"></script>
<script type="module" src="/SimulationPage/js/pop_up.js"></script>
</html>