<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation</title>
    <link rel="stylesheet" href="/SimulationPage/css/simulation.css">
    <link rel="stylesheet" href="/AssetsPage/css/styles1.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<th:block th:replace="~{Components/header.html :: header}"></th:block>
<main>
    <div class="top-progress-container">
        <div class="top-progress-section">
            <div><h3>Satisfaction</h3></div>
            <div class="top-progress-info-container">
                <div class="progress-bar-container">
                    <div class="progress-bar" id="satisfactionBar">0 MW</div>
                </div>
                <div class="progress-value">
                    <div id="current-satisfaction">0</div>
                    MW /
                    <div id="max-satisfaction">100</div>
                    MW
                </div>
            </div>
        </div>

        <div class="top-progress-section">
            <div><h3>Production</h3></div>
            <div class="top-progress-info-container">
                <div class="progress-bar-container">
                    <div class="progress-bar" id="productionBar">0 MW</div>
                </div>
                <div class="progress-value">
                    <div id="current-production">0</div>
                    MW /
                    <div id="max-production">100</div>
                    MW
                </div>
            </div>
        </div>

        <div class="top-progress-section">
            <div><h3>Accumulator Charge</h3></div>
            <div class="top-progress-info-container">
                <div class="progress-bar-container">
                    <div class="progress-bar" id="accumulatorChargeBar">0 MW</div>
                </div>
                <div class="progress-value">
                    <div id="current-charge">0</div>
                    <div> MW / </div>
                    <div id="max-charge">100</div>
                    <div> MW </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="simulation-container">
        <div class="graph-container">
            <div class="graph" id="consumptionGraph"></div>
            <div class="graph" id="productionGraph"></div>
        </div>

        <br>
        <hr>
        <br>

        <div class="progress-container">

            <div class="progress-bars">
                <div>
                    <div><h3>Washing Machine</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="washingMachineBar">0 MW</div>
                    </div>
                </div>

                <div><h3>Refrigerator</h3></div>
                <div class="progress-bar-container">
                    <div class="progress-bar" id="refrigeratorBar">0 MW/div>
                    </div>
                </div>

                <div>
                    <div><h3>Air Conditioner</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="airConditionerBar">0 MW</div>
                    </div>
                </div>
            </div>

            <div class="progress-bars">
                <div>
                    <div><h3>Solar Panel</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="solarPanelBar">0 MW</div>
                    </div>
                </div>

                <div>
                    <div><h3>Wind Turbine</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="windTurbineBar">0 MW</div>
                    </div>
                </div>

                <div>
                    <div><h3>Accumulator</h3></div>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="accumulatorBar">0 MW</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script src="/SimulationPage/js/simulation.js"></script>
</html>