<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${@environment.getProperty('spring.application.name')}">Project Name</title>
    <link rel="stylesheet" href="HistoryPage/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header (buttons, logo and project name) -->
<header class="header">
    <button class="menu-button" onclick="toggleMenu()">
        &#9776; <!-- menu icon -->
    </button>
    <div class="logo-container">
        <img src="HomePage/img/logo.png" alt="Logo" class="logo" style="border-radius: 30%">
        <h1 th:text="${@environment.getProperty('spring.application.name')}"></h1>
    </div>
</header>

<!-- Menu (change with real page names)-->
<nav id="dropdown-menu" class="dropdown-menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Assets</a></li>
        <li><a href="#">Simulation</a></li>
        <li><a href="#">History</a></li>
    </ul>
</nav>

<div class="pagename">
    <h1 class="animate-slide-in-left">History</h1>
</div>

<div class="content">

    <div class="session-card animate-slide-in-left">
        <div class="card-header">
            <h3>Nome dello scenario</h3>
        </div>
        <div class="card-content">
            <div class="data-ora">
                <p><strong>Inizio: </strong>14/11/2024, 14:36</p>
                <p><strong>Fine: </strong>14/11/2024, 14:37</p>
            </div>
            <div class="durata">
                <p><strong>Durata: </strong>0h 1min 0s</p>
            </div>
            <div class="asset">
                <p><strong>Asset utilizzati: </strong>Asset 1, asset 2, asset 3, asset 4, asset 5</p>
            </div>
            <div class="esito">
                <p><strong>Terminato con successo</strong></p>
            </div>
        </div>
    </div>

    <div class="session-card animate-slide-in-left">
        <div class="card-header">
            <h3>Nome dello scenario</h3>
        </div>
        <div class="card-content">
            <div class="data-ora">
                <p><strong>Inizio: </strong>14/11/2024, 14:36</p>
                <p><strong>Fine: </strong>14/11/2024, 14:37</p>
            </div>
            <div class="durata">
                <p><strong>Durata: </strong>0h 1min 0s</p>
            </div>
            <div class="asset">
                <p><strong>Asset utilizzati: </strong>Asset 1, asset 2, asset 3, asset 4, asset 5</p>
            </div>
            <div class="esito">
                <p><strong>Terminato con successo</strong></p>
            </div>
        </div>
    </div>

    <div class="session-card animate-slide-in-left">
        <div class="card-header">
            <h3>Nome dello scenario</h3>
        </div>
        <div class="card-content">
            <div class="data-ora">
                <p><strong>Inizio: </strong>14/11/2024, 14:36</p>
                <p><strong>Fine: </strong>14/11/2024, 14:37</p>
            </div>
            <div class="durata">
                <p><strong>Durata: </strong>0h 1min 0s</p>
            </div>
            <div class="asset">
                <p><strong>Asset utilizzati: </strong>Asset 1, asset 2, asset 3, asset 4, asset 5</p>
            </div>
            <div class="esito">
                <p><strong>Terminato con successo</strong></p>
            </div>
        </div>
    </div>

    <script src="HistoryPage/js/script.js"></script>

</div>
</body>
</html>